<div id="page" class="pen">

  <mat-tab-group mat-align-tabs="center" (focusChange)="onFocusChange($event)">

    <mat-tab label="Pen 1">
      <app-pen-field [user]="user" [pen]="pens[0]" [price]="price1" [updatedCreatures]="updatedCreatures"
                     [creaturePrices]="creaturePrices"></app-pen-field>
      <app-pen-items [pen]="pens[0]"
                     (creatureUpdate)="onCreatureUpdate($event)"
                     (creaturesUpdate)="onCreaturesUpdate($event)"
                     (itemDelete)="onItemDelete($event)"></app-pen-items>
    </mat-tab>

    <mat-tab label="Pen 2">
      <div *ngIf="pens.length === 1">
        <app-pen-purchase [user]="user" [price]="price2" [pens]="pens"
                          (penConstructEventEmitter)="onPenConstruct()"></app-pen-purchase>
      </div>
      <div *ngIf="pens.length > 1">
        <app-pen-field [user]="user" [pen]="pens[1]" [price]="price2" [updatedCreatures]="updatedCreatures"
                       [creaturePrices]="creaturePrices">
        </app-pen-field>
        <app-pen-items [pen]="pens[1]"
                       (creatureUpdate)="onCreatureUpdate($event)"
                       (creaturesUpdate)="onCreaturesUpdate($event)"
                       (itemDelete)="onItemDelete($event)"></app-pen-items>
      </div>
    </mat-tab>


  </mat-tab-group>

</div>


