<div id="page" class="pen">

  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Pen 1">
      <app-pen-field [user]="user" [pen]="pen" [updatedCreatures]="updatedCreatures"></app-pen-field>
      <app-pen-items [pen]="pen"
                     (creatureUpdate)="onCreatureUpdate($event)"
                     (creaturesUpdate)="onCreaturesUpdate($event)"
                     (itemDelete)="onItemDelete($event)"></app-pen-items>

    </mat-tab>

    <mat-tab label="Pen 2" disabled>
    </mat-tab>


  </mat-tab-group>

</div>


