<div id="items">

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">

    <mat-grid-tile *ngFor="let item of items">
      <button mat-raised-button [ngClass]="item.code.toLowerCase()" *ngIf="item.life > 0" (click)="onActivation(item)">
        <mat-icon *ngIf="item.code.toLowerCase()==='thirst'">local_drink</mat-icon>
        <mat-icon *ngIf="item.code.toLowerCase()==='hunger'">restaurant</mat-icon>
        <mat-icon *ngIf="item.code.toLowerCase()==='love'">favorite</mat-icon>
        <br/>
        <app-item-name [code]="item.code" [quality]="item.quality"></app-item-name>
        <span class="level"> lvl.{{item.quality}}</span>
        <br/>{{item.life}}/500
      </button>

      <button mat-raised-button class="delete" *ngIf="item.life <= 0" (click)="delete(item)">
        <ng-container>
          <mat-icon *ngIf="item.code.toLowerCase()==='thirst'">local_drink</mat-icon>
          <mat-icon *ngIf="item.code.toLowerCase()==='hunger'">restaurant</mat-icon>
          <mat-icon *ngIf="item.code.toLowerCase()==='love'">favorite</mat-icon>
          <br/>
          <app-item-name [code]="item.code" [quality]="item.quality"></app-item-name>
          <span class="level"> lvl.{{item.quality}}</span>
          <br/>Click to delete
        </ng-container>
      </button>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="pen.items.length < pen.pen.size">
      <button mat-raised-button class="add" routerLink="/inventory">
        <mat-icon>add</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

</div>


