<div id="page">

  <div id="space-top"></div>

  <div id="filter">
    <div>
      <button mat-flat-button *ngIf="sex === 'M'" color="accent"
              (click)="toggleSexFilter('F')">
        <mat-icon>male</mat-icon>
      </button>
      <button mat-flat-button *ngIf="sex === 'F'" color="accent"
              (click)="toggleSexFilter(null)">
        <mat-icon>female</mat-icon>
      </button>
      <button mat-stroked-button *ngIf="!sex" color="accent"
              (click)="toggleSexFilter('M')">
        <mat-icon svgIcon="genders"></mat-icon>
      </button>
    </div>

    <div id="item-count">{{creatureCount}}/250</div>
  </div>


  <div class="no-items-message" *ngIf="!creatures || creatures.length === 0">No llama in the barn</div>

  <div id="list-wrapper" infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle"
       infiniteScrollContainer="#list-content" (scrolled)="onScroll()">

    <div id="list-content">

      <div *ngFor="let creature of creatures">
        <div class="creature mat-elevation-z1">
          <div class="details">
            <div class="image">
              <app-llama [color1]="creature.colors.color1.code"
                         [color2]="creature.colors.color2 ? creature.colors.color2.code : creature.colors.color1.code">
              </app-llama>
            </div>

            <div class="info">
              <div class="line1">
                <div class="sex-icon">
                  <mat-icon *ngIf="creature.sex === 'M'" class="male">male</mat-icon>
                  <mat-icon *ngIf="creature.sex === 'F'" class="female">female</mat-icon>
                </div>
                <div class="name">
                  {{creature.name}}
                </div>
                <div class="status-icon wild-icon" *ngIf="creature.wild">
                  <mat-icon>grass</mat-icon>
                </div>
                <div class="status-icon baby-icon" *ngIf="creature.statistics.maturity < 100">
                  <mat-icon svgIcon="baby"></mat-icon>
                </div>
                <div class="status-icon pregnant-icon" *ngIf="creature.pregnant">
                  <mat-icon svgIcon="pregnant"></mat-icon>
                </div>
                <div class="status-icon pen-icon" *ngIf="creaturesInPen.indexOf(creature.id) > -1">
                  <mat-icon>fence</mat-icon>
                </div>
              </div>

              <div class="line2">
                <div class="energy">
                  <div class="stat-icon">
                    <mat-icon>bolt</mat-icon>
                  </div>
                  <div class="stat-value">{{creature.statistics.energy}}</div>
                </div>
                <div class="thirst">
                  <div class="stat-icon">
                    <mat-icon>local_drink</mat-icon>
                  </div>
                  <div class="stat-value">{{creature.statistics.thirst}}</div>
                </div>
                <div class="hunger">
                  <div class="stat-icon">
                    <mat-icon svgIcon="hay"></mat-icon>
                  </div>
                  <div class="stat-value">{{creature.statistics.hunger}}</div>
                </div>
                <div class="love">
                  <div class="stat-icon">
                    <mat-icon>favorite</mat-icon>
                  </div>
                  <div class="stat-value">{{creature.statistics.love}}</div>
                </div>
              </div>


            </div>
          </div>

          <div class="button">
            <button class="detailsButton" mat-stroked-button (click)="openDetails(creature)">
              <mat-icon>read_more</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


