<div id="page" class="barn">

  <div id="space-top"></div>

  <div id="filters">
    <div class="filter generation">
      <button mat-raised-button *ngIf="!generation" [matMenuTriggerFor]="menu_generation">
        Gen.
      </button>
      <button mat-raised-button class="selected" *ngIf="generation" (click)="toggleGenerationFilter(null)">
        {{generation | roman}}
      </button>
    </div>
    <div class="filter space sex">
      <button mat-raised-button class="icon-button" *ngIf="!sex" (click)="toggleSexFilter('M')">
        <mat-icon>people</mat-icon>
      </button>
      <button mat-raised-button class="icon-button selected male" *ngIf="sex === 'M'" (click)="toggleSexFilter('F')">
        <mat-icon>male</mat-icon>
      </button>
      <button mat-raised-button class="icon-button selected female" *ngIf="sex === 'F'" (click)="toggleSexFilter(null)">
        <mat-icon>female</mat-icon>
      </button>
    </div>
    <div class="filter space pen">
      <button mat-raised-button class="icon-button" *ngIf="!inPen" (click)="toggleInPenFilter(true)">
        <mat-icon>fence</mat-icon>
      </button>
      <button mat-raised-button class="icon-button selected" *ngIf="inPen" (click)="toggleInPenFilter(null)">
        <mat-icon>fence</mat-icon>
      </button>
    </div>
    <div class="filter space pregnant">
      <button mat-raised-button class="icon-button" *ngIf="!pregnant" (click)="togglePregnantFilter(true)">
        <mat-icon>pregnant_woman</mat-icon>
      </button>
      <button mat-raised-button class="icon-button selected" *ngIf="pregnant" (click)="togglePregnantFilter(null)">
        <mat-icon>pregnant_woman</mat-icon>
      </button>
    </div>
    <div class="filter space baby">
      <button mat-raised-button class="icon-button" *ngIf="!baby" (click)="toggleBabyFilter(true)">
        <mat-icon>child_friendly</mat-icon>
      </button>
      <button mat-raised-button class="icon-button selected" *ngIf="baby" (click)="toggleBabyFilter(null)">
        <mat-icon>child_friendly</mat-icon>
      </button>
    </div>
    <div class="filter space old">
      <button mat-raised-button class="icon-button" *ngIf="!old" (click)="toggleOldFilter(true)">
        <mat-icon>heart_broken</mat-icon>
      </button>
      <button mat-raised-button class="icon-button selected" *ngIf="old" (click)="toggleOldFilter(null)">
        <mat-icon>heart_broken</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #menu_generation="matMenu">
    <button mat-menu-item (click)="toggleGenerationFilter(1)" class="barn-menu-item">
      Generation {{1 | roman}}
    </button>
    <button mat-menu-item (click)="toggleGenerationFilter(2)" class="barn-menu-item" *ngIf="user.level >= 2">
      Generation {{2 | roman}}
    </button>
    <button mat-menu-item (click)="toggleGenerationFilter(3)" class="barn-menu-item" *ngIf="user.level >= 3">
      Generation {{3 | roman}}
    </button>
    <button mat-menu-item (click)="toggleGenerationFilter(4)" class="barn-menu-item" *ngIf="user.level >= 4">
      Generation {{4 | roman}}
    </button>
    <button mat-menu-item (click)="toggleGenerationFilter(5)" class="barn-menu-item" *ngIf="user.level >= 5">
      Generation {{5 | roman}}
    </button>
    <button mat-menu-item (click)="toggleGenerationFilter(6)" class="barn-menu-item" *ngIf="user.level >= 6">
      Generation {{6 | roman}}
    </button>
    <button mat-menu-item (click)="toggleGenerationFilter(7)" class="barn-menu-item" *ngIf="user.level >= 7">
      Generation {{7 | roman}}
    </button>
    <button mat-menu-item (click)="toggleGenerationFilter(8)" class="barn-menu-item" *ngIf="user.level >= 8">
      Generation {{8 | roman}}
    </button>
  </mat-menu>


  <div id="count">
    <div class="filter-count">results: {{filterCount}}</div>
    <div class="total-count">{{totalCount}}/{{creaturesMax}}</div>
  </div>


  <div class="empty-message" *ngIf="!creatures || creatures.length === 0">No llamas in the barn</div>

  <div id="list-wrapper" infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle"
       infiniteScrollContainer="#list-content" (scrolled)="onScroll()">

    <div id="list-content">
      <div *ngFor="let creature of creatures">
        <div class="creature mat-elevation-z2" mat-ripple (click)="openDetails(creature)">

          <div class="status">
            <div class="left">
              <div class="icon sex">
                <mat-icon *ngIf="creature.sex === 'M'" class="male">male</mat-icon>
                <mat-icon *ngIf="creature.sex === 'F'" class="female">female</mat-icon>
              </div>
            </div>
            <div class="right">
              <div class="icon space pen" *ngIf="creaturesInPen.indexOf(creature.id) > -1">
                <mat-icon>fence</mat-icon>
              </div>
              <div class="icon space baby" *ngIf="creature.statistics.maturity < maturityMax">
                <mat-icon>child_friendly</mat-icon>
              </div>
              <div class="icon space wild" *ngIf="creature.wild">
                <mat-icon>grass</mat-icon>
              </div>
              <div class="icon space pregnant" *ngIf="creature.pregnant">
                <mat-icon>pregnant_woman</mat-icon>
              </div>
              <div class="icon space love" *ngIf="creature.statistics.love >= statsMax">
                <mat-icon>favorite</mat-icon>
              </div>
              <div class="icon space old" *ngIf="creature.pregnancyCount >= breedingMax">
                <mat-icon>heart_broken</mat-icon>
              </div>
              <div class="icon space redeem"
                   *ngIf="creature.pregnant && (creature.pregnancyEndTime | utc) <= filterDate">
                <mat-icon>redeem</mat-icon>
              </div>
            </div>
          </div>

          <div class="details">
            <div class="image">
              <app-llama [color1]="creature.colors.color1.code"
                         [color2]="creature.colors.color2 ? creature.colors.color2.code : creature.colors.color1.code">
              </app-llama>
            </div>

            <div class="info">
              <div class="name">{{creature.name}}</div>

              <div class="under-name">
                <div class="stats" *ngIf="creature.statistics.maturity >= maturityMax">
                  <div class="stat energy">
                    <div class="icon">
                      <mat-icon>bolt</mat-icon>
                    </div>
                    <div class="value">
                      {{creature.statistics.energy / energyDivider - (creature.statistics.energy / energyDivider) % 1}}
                    </div>
                  </div>
                  <div class="stat love">
                    <div class="icon">
                      <mat-icon>favorite</mat-icon>
                    </div>
                    <div class="value">{{creature.statistics.love}}</div>
                  </div>
                </div>
                <div class="stats" *ngIf="creature.statistics.maturity < maturityMax">
                  <div class="stat maturity">
                    <div class="icon">
                      <mat-icon>child_friendly</mat-icon>
                    </div>
                    <div class="value">
                      {{creature.statistics.maturity / maturityDivider - (creature.statistics.maturity / maturityDivider) % 1}}
                    </div>
                  </div>
                </div>
                <div class="genes">
                  <div class="gene obscure" *ngIf="!creature.genes.gene1">
                    No gene
                  </div>
                  <div class="gene" *ngIf="creature.genes.gene1">
                    <app-creature-gene code="{{creature.genes.gene1}}"></app-creature-gene>
                  </div>
                  <div class="gene space" *ngIf="creature.genes.gene2">
                    <app-creature-gene code="{{creature.genes.gene2}}"></app-creature-gene>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="loading" *ngIf="loading">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

    </div>
  </div>
</div>


