.image-item
  margin-right: 10px
  font-size: 28px
  height: 100%

.image-net
  color: seagreen
  margin-top: 0

.image-drink
  color: cornflowerblue

.image-eat
  color: sandybrown
  margin-top: 0

.image-love
  color: palevioletred
