<div id="page" class="account">

  <input id="name" type="text" maxlength="15" [value]="name" (focusout)="onNameChange($event.target.value)">
  <div id="submit-message">
    <span class="error" *ngIf="invalidSubmit">Error</span>
  </div>

  <div class="details">
    <div>Max generation reached: {{user.level | roman}}</div>
    <div>{{user.email}}</div>
  </div>

  <div id="logout">
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>

  <div id="delete">
    <button mat-raised-button color="warn" *ngIf="!showDeleteConfirmation" (click)="toggleDeleteConfirmation()">
      Delete account
    </button>

    <div id="confirmation" *ngIf="showDeleteConfirmation">
      <div class="message">Are you sure ?</div>
      <button mat-raised-button (click)="toggleDeleteConfirmation()">No</button>
      <button mat-raised-button color="warn" (click)="delete()">Yes</button>
    </div>
  </div>

</div>
