.account
  text-align: center
  margin-top: 20px

.account #name
  background-color: #5d5d5d
  border: none
  outline: none
  color: inherit
  font: inherit
  font-size: 16px
  border-radius: 5px
  padding: 5px

.account #submit-message
  font-size: 16px
  height: 20px
  margin-top: 10px
.account #submit-message .error
  color: #e3332b
.account #submit-message .success
  color: #239023

.account .details
  font-size: 16px
  margin-top: 20px
  margin-bottom: 50px
.account .details div
  margin-top: 10px

.account #logout button
  font-size: 16px

.account #delete
  margin-top: 100px
  font-size: 16px
.account #delete button
  font-size: 16px
.account #delete #confirmation .message
  margin-bottom: 10px
.account #delete #confirmation button
  margin-right: 10px
  margin-left: 10px
