#page
  margin-right: auto
  margin-left: auto
  padding-left: 10px
  padding-right: 10px
  max-width: 500px
  min-width: 320px
  display: flex
  flex-direction: column
  height: calc(100% - 64px)
  @media (max-width: 599px)
    height: calc(100% - 56px)

#space-top
  margin-top: 20px

#list-wrapper
  flex: 1
  position: relative
  padding-bottom: 20px

#list-content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: auto

::-webkit-scrollbar
  width: 0
