<div *ngFor="let capture of captures" class="capture-details">

  <div class="capture">
    <div>{{capture.endTime | date:'MMMM dd, HH:mm'}}</div>
    <div class="items">
      <div>
        <div *ngIf="capture.quality <= 0" class="obscure">No net</div>
        <div *ngIf="capture.quality > 0">
          <app-item-name code="net" [quality]="capture.quality"></app-item-name> net
        </div>
      </div>
      <div>
        <div *ngIf="capture.bait <= 0" class="obscure">No bait</div>
        <div *ngIf="capture.bait > 0">Bait lvl.{{capture.bait}}</div>
      </div>
    </div>
  </div>

  <app-llama [color1]="capture.color.code" [color2]="capture.color.code"></app-llama>

  <div class="creature">
    <div>
      <div class="sex">
        <mat-icon *ngIf="capture.sex === 'M'" class="male">male</mat-icon>
        <mat-icon *ngIf="capture.sex === 'F'" class="female">female</mat-icon>
      </div>
      <div class="gene">
        <div *ngIf="!capture.gene" class="obscure">No gene</div>
        <app-creature-gene *ngIf="capture.gene" code="{{capture.gene}}"></app-creature-gene>
      </div>
    </div>
  </div>

</div>
