<div id="page">

  <div id="space-top"></div>

  <app-launch-capture [capture]="activeCapture" [redeem]="redeem"
                      (captureFinished)="onCaptureFinished()"
                      (captureStarted)="onCaptureStarted($event)"
                      (redeemEvent)="onRedeem($event)">
  </app-launch-capture>

  <div id="help">
    <div *ngIf="redeem; then redeemBlock else regularBlock"></div>
    <ng-template #redeemBlock>Let's see what you've got !</ng-template>
    <ng-template #regularBlock>
      <div *ngIf="history.length == 0">Capture your first llama</div>
      <div *ngIf="history.length == 1">Capture a second llama to start breeding</div>
      <div *ngIf="history.length == 2">You are now ready to start breeding !<br/>There are 3 types of llama in the wild, try to capture the missing one
      </div>
      <div *ngIf="history.length > 2">Use a net or a bait to increase your chances to capture a llama with a gene</div>
    </ng-template>
  </div>

  <div id="list-wrapper">
    <div id="list-content">
      <app-history-capture [captures]="history"></app-history-capture>
    </div>
  </div>

</div>
