#header
  background-color: #212121
  display: flex
  justify-content: center
  min-width: 340px

#header mat-toolbar
  max-width: 600px

#header .back
  color: grey

.image
  width: 40px
  height: 40px

#header .spacer
  flex: 1 1 auto

#header .title
  margin-left: 20px

#header .coins
  text-align: right
  font-size: 16px
  font-weight: normal
  line-height: normal
