#header
  background-color: #212121
  display: flex
  justify-content: center

#header mat-toolbar
  max-width: 600px

.spacer
  flex: 1 1 auto

#title
  margin-left: 20px

#account-data
  text-align: right
  font-size: 14px
  font-weight: normal
  line-height: normal
