<div class="description">
  <div class="text" *ngIf="code.toLowerCase() === 'net'">
    <span *ngIf="quality === 1">Very low</span>
    <span *ngIf="quality === 2">Low</span>
    <span *ngIf="quality === 3">High</span>
    <span *ngIf="quality === 4">Very high</span>
    <span> chance to capture a llama with a gene</span>
  </div>
  <div class="text" *ngIf="code.toLowerCase() === 'thirst'">
    Add to a pen to increase thirst
  </div>
  <div class="text" *ngIf="code.toLowerCase() === 'hunger'">
    Add to a pen to increase hunger
  </div>
  <div class="text" *ngIf="code.toLowerCase() === 'love'">
    Add to a pen to increase love
  </div>

  <div class="stats" *ngIf="code.toLowerCase() !== 'net'">
    <div class="stat" *ngIf="quality > 2">
      <div class="generation">Generation {{quality-2 | roman}}-</div>
      <div class="value">+3</div>
    </div>
    <div class="stat" *ngIf="quality > 1">
      <div class="generation">Generation {{quality-1 | roman}}</div>
      <div class="value">+2</div>
    </div>
    <div class="stat">
      <div class="generation">Generation {{quality | roman}}</div>
      <div class="value">+1</div>
    </div>
    <div class="stat" *ngIf="quality < 10">
      <div class="generation">Generation {{quality+1 | roman}}+</div>
      <div class="value">no effect</div>
    </div>
  </div>
</div>


