<div id="page" class="inventory">

  <div id="space-top"></div>

  <div id="filter">
    <div>
      <button mat-flat-button *ngIf="filter === 'net'" color="accent"
              (click)="toggleFilter(null)">
        <mat-icon svgIcon="net"></mat-icon>
      </button>
      <button mat-stroked-button *ngIf="filter !== 'net'" color="accent"
              (click)="toggleFilter('net')">
        <mat-icon svgIcon="net"></mat-icon>
      </button>

      <button mat-flat-button *ngIf="filter === 'thirst'" color="accent" class="filter-margin"
              (click)="toggleFilter(null)">
        <mat-icon>local_drink</mat-icon>
      </button>
      <button mat-stroked-button *ngIf="filter !== 'thirst'" color="accent" class="filter-margin"
              (click)="toggleFilter('thirst')">
        <mat-icon>local_drink</mat-icon>
      </button>

      <button mat-flat-button *ngIf="filter === 'hunger'" color="accent" class="filter-margin"
              (click)="toggleFilter(null)">
        <mat-icon svgIcon="hay"></mat-icon>
      </button>
      <button mat-stroked-button *ngIf="filter !== 'hunger'" color="accent" class="filter-margin"
              (click)="toggleFilter('hunger')">
        <mat-icon svgIcon="hay"></mat-icon>
      </button>

      <button mat-flat-button *ngIf="filter === 'love'" color="accent" class="filter-margin"
              (click)="toggleFilter(null)">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-stroked-button *ngIf="filter !== 'love'" color="accent" class="filter-margin"
              (click)="toggleFilter('love')">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <div id="item-count">{{itemCount}}/100</div>
  </div>

  <div class="no-items-message" *ngIf="!items || items.length === 0">No items available</div>

  <div id="list-wrapper" infinite-scroll [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle"
       infiniteScrollContainer="#list-content" (scrolled)="onScroll()">

    <div id="list-content">

      <div *ngFor="let item of items">
        <div class="item mat-elevation-z1">
          <div class="details">
            <app-item-icon [code]="item.code"></app-item-icon>
            <div class="info">
              <div>
                <app-item-name [code]="item.code" [quality]="item.quality"></app-item-name>
                - lvl.{{item.quality}}
              </div>
              <div *ngIf="item.code.toLowerCase() !== 'net'">{{item.life}}/500</div>
            </div>
          </div>
          <div class="button">
            <button class="buttonSpace" mat-stroked-button [matMenuTriggerFor]="menu_pen_add"
                    *ngIf="(itemsInPen.indexOf(item.id) === -1) && item.code.toLowerCase() !== 'net'">
              <mat-icon>fence</mat-icon>
            </button>
            <mat-menu #menu_pen_add="matMenu">
              <button mat-menu-item (click)="addToPen(item)" [disabled]="pen.items.length >= pen.size">
                Add to pen ({{pen.items.length}}/{{pen.size}})
              </button>
            </mat-menu>

            <button class="buttonSpace button-in-pen" mat-flat-button (click)="removeFromPen(item)"
                    *ngIf="(itemsInPen.indexOf(item.id) > -1)  && item.code.toLowerCase() !== 'net'">
              <mat-icon>fence</mat-icon>
            </button>

            <button mat-stroked-button [matMenuTriggerFor]="menu_delete"
                    [disabled]="itemsInPen.indexOf(item.id) > -1">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-menu #menu_delete="matMenu">
              <button mat-menu-item (click)="delete(item)">Delete</button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


