#filter
  margin-bottom: 10px

.filter-margin
  margin-left: 2px

::ng-deep .image-item
  margin-top: 5px

.button button
  height: 100%
  width: 40px
  min-width: 0
  padding: 0
.button-in-pen
  background-color: brown

.buttonSpace
  margin-right: 5px
