#buttons
  display: flex
  justify-content: space-between

.launch
  height: auto
  width: 100%
  margin-right: 10px

.launch button
  height: 100%
  width: 100%

.launch-raised
  background-color: #f17f00

.launch-stroked
  background-color: rgba(241, 127, 0, 0.8)
  color: white !important

.net
  margin-bottom: 5px

.net-raised
  color: seagreen

.net-stroked
  background-color: seagreen

#info
  margin-top: 10px
  padding: 1px
  width: 100%
  text-align: center
  background-color: #3b3b3b
  border-radius: 4px
  font-size: 12px
