<div id="launch-capture">

  <div id="buttons">
    <div id="launch">
      <button mat-raised-button class="inactive mat-elevation-z2" *ngIf="capture == null" (click)="launch()">
        Capture<br/>
        <span class="info">
          <span *ngIf="quality <= 0">No</span>
          <span *ngIf="quality > 0"><app-item-name code="net" [quality]="quality"></app-item-name></span> net</span>
      </button>
      <button mat-button disabled class="active" *ngIf="capture != null && !redeem">
        {{timeLeft | date:'HH:mm:ss' : 'UTC'}}<br/>
        <span class="info">
          <span *ngIf="capture.quality <= 0">No</span>
          <span *ngIf="capture.quality > 0">
            <app-item-name code="net" [quality]="capture.quality"></app-item-name></span> net</span>
      </button>
      <button mat-raised-button class="loot mat-elevation-z2" *ngIf="redeem" (click)="redeemCapture()">
        <mat-icon>redeem</mat-icon>
      </button>
    </div>

    <div id="parameters">
      <div class="parameter">
        <button mat-raised-button class="no-selection" *ngIf="quality <= 0"
                [ngClass]="{'inactive': !capture, 'enable': netCount.quality_1 > 0 || netCount.quality_2 > 0 || netCount.quality_3 > 0}"
                [disabled]="capture != null || (netCount.quality_1 <= 0 && netCount.quality_2 <= 0 && netCount.quality_3 <= 0)"
                [matMenuTriggerFor]="menu_net">
          <mat-icon svgIcon="net"></mat-icon>
        </button>
        <button mat-raised-button class="selection" *ngIf="quality > 0" (click)="setNet(0)">
          <mat-icon svgIcon="net"></mat-icon>
        </button>

        <mat-menu #menu_net="matMenu">
          <button mat-menu-item class="launch-capture-menu-item" *ngIf="netCount.quality_1 > 0" (click)="setNet(1)">
            <app-item-name code="net" [quality]=1></app-item-name>
            net ({{netCount.quality_1}})
          </button>
          <button mat-menu-item class="launch-capture-menu-item" *ngIf="netCount.quality_2 > 0" (click)="setNet(2)">
            <app-item-name code="net" [quality]=2></app-item-name>
            net ({{netCount.quality_2}})
          </button>
          <button mat-menu-item class="launch-capture-menu-item" *ngIf="netCount.quality_3 > 0" (click)="setNet(3)">
            <app-item-name code="net" [quality]=3></app-item-name>
            net ({{netCount.quality_3}})
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

</div>
