<span *ngIf="code.toLowerCase()==='net' && quality===1">Basic</span>
<span *ngIf="code.toLowerCase()==='net' && quality===2">Super</span>
<span *ngIf="code.toLowerCase()==='net' && quality===3">Hyper</span>
<span *ngIf="code.toLowerCase()==='net' && quality===4">Mega</span>

<span *ngIf="code.toLowerCase()!=='net' && quality===1">Mediocre</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===2">Inferior</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===3">Unremarkable</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===4">Acceptable</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===5">Good</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===6">Superior</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===7">Superb</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===8">Splendid</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===9">Magnificent</span>
<span *ngIf="code.toLowerCase()!=='net' && quality===10">Glorious</span>
