<div id="field" class="mat-elevation-z1">

  <div class="creatures">
    <ng-container>
      <div class="line line1">
        <app-pen-field-creature [creature]="creatures[0]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 0">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[1]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 1 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[2]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 2 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
      </div>
      <div class="line line2">
        <app-pen-field-creature [creature]="creatures[3]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 3 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[4]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 4 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[5]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 5 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
      </div>
    </ng-container>
  </div>

  <div class="details">
    <div class="detail">Spaces {{pen.pen.size}}/{{maxSize}}</div>
    <div class="detail">
      <button mat-icon-button [matMenuTriggerFor]="options">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #options="matMenu">
    <button mat-menu-item class="pen-option" *ngIf="pen.pen.size < maxSize" (click)="extend(pen.pen.size + 1)"
            [disabled]="(price | price: (pen.pen.size + 1)) > user.coins">
      Extend pen ({{price | price: (pen.pen.size + 1)}} ¤)
    </button>
    <button mat-menu-item class="pen-option" *ngIf="pen.pen.size === maxSize" disabled>
      No more space available
    </button>
  </mat-menu>
</div>




