.pen-field-creature
  height: 50px
  width: 50px
  margin-top: 10px

.pen-field-creature-exists
  height: 50px
  width: 50px
  margin-top: 10px
  cursor: pointer

.image
  height: 38px
  width: 38px
  padding: 2px 6px
  border-radius: 24px

.baby
  height: 24px
  width: 24px
  padding: 9px 13px

.stats-energy-wrapper
  height: 3px
  width: 100%
.stats-energy
  height: 3px
  background-color: lightyellow
  border-radius: 1.5px

.stats-maturity-wrapper
  height: 3px
  width: 100%
.stats-maturity
  height: 3px
  background-color: skyblue
  border-radius: 1.5px

.stats
  height: 5px
  display: flex
  justify-content: space-between

.stats-details
  width: 32%
  height: 4px
  border-radius: 2px

.stats-hunger
  background-color: sandybrown
.stats-love
  background-color: palevioletred
.stats-thirst
  background-color: cornflowerblue
