<div id="field" class="mat-elevation-z1">

  <div class="creatures">
    <ng-container>
      <div class="line line1">
        <app-pen-field-creature [creature]="creatures[0]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 0">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[1]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 1 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[2]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 2 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
      </div>
      <div class="line line2">
        <app-pen-field-creature [creature]="creatures[3]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 3 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[4]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 4 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
        <app-pen-field-creature [creature]="creatures[5]" [pen]="pen.pen" [updatedCreatures]="updatedCreatures"
                                (detailsEventEmitter)="openDetails($event)"
                                [isAddButton]="pen.pen.creatures.length === 5 && pen.pen.creatures.length < pen.pen.size">
        </app-pen-field-creature>
      </div>
    </ng-container>
  </div>

  <div class="details">
    <div class="detail">Llamas {{pen.creatures.length}}/{{pen.pen.size}}</div>
    <div class="detail add">
      <button mat-raised-button disabled>
        <mat-icon>fence</mat-icon>
      </button>
    </div>
    <div class="detail right">Items {{pen.items.length}}/{{pen.pen.size}}</div>
  </div>
</div>




