<div id="creature-details">

  <div mat-dialog-title id="title">
    <input id="name" type="text" maxlength="15" [value]="name" (focusout)="onNameChange($event.target.value)">
  </div>

  <div mat-dialog-content>

    <div id="info">
      <div class="image-wrapper">
        <div class="image">
          <app-llama [color1]="creature.colors.color1.code"
                     [color2]="creature.colors.color2 ? creature.colors.color2.code : creature.colors.color1.code">
          </app-llama>
        </div>
      </div>

      <div class="details-wrapper">
        <div class="details">
          <div class="line">
            <div class="detail sex">
              <mat-icon *ngIf="creature.sex === 'M'" class="male">male</mat-icon>
              <mat-icon *ngIf="creature.sex === 'F'" class="female">female</mat-icon>
            </div>
            <div class="detail wild" *ngIf="creature.wild">wild</div>
            <div class="detail generation">Generation {{creature.generation | roman}}</div>
          </div>
          <div class="line">
            <div class="detail color">{{creature.colors.color1.name}}</div>
            <div class="detail color" *ngIf="creature.colors.color2">{{creature.colors.color2.name}}</div>
          </div>
          <div class="line">
            <div class="detail gene" *ngIf="creature.genes.gene1">
              <app-creature-gene code="{{creature.genes.gene1}}"></app-creature-gene>
            </div>
            <div class="detail gene" *ngIf="creature.genes.gene2">
              <app-creature-gene code="{{creature.genes.gene2}}"></app-creature-gene>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div id="breeding">
      <div class="count">
        <div>
          <mat-icon *ngIf="creature.pregnancyCount < breedingMax">favorite_border</mat-icon>
          <mat-icon *ngIf="creature.pregnancyCount >= breedingMax">heart_broken</mat-icon>
        </div>
        <div>{{creature.pregnancyCount}}/{{breedingMax}}</div>
      </div>
      <div class="info">
        <div *ngIf="!creature.pregnant && creature.pregnancyCount >= breedingMax">Max births reached</div>
        <div *ngIf="timeLeft > 0"><span class="baby-message">Baby's on the way</span>{{timeLeft | date:'HH:mm:ss':'UTC'}}</div>
        <div class="redeem" *ngIf="creature.pregnant && timeLeft <= 0">
          <div>What's that ?</div>
          <div>
            <button mat-raised-button (click)="redeem()">
              <mat-icon>redeem</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="stats">
      <div class="stat" *ngIf="creature.statistics.maturity < maturityMax">
        <div class="icon maturity">
          <mat-icon>child_friendly</mat-icon>
        </div>
        <div class="line">
          <div class="line-wrapper">
            <div class="line-value maturity"
                 [style.width.%]="creature.statistics.maturity / maturityDivider - (creature.statistics.maturity / maturityDivider) % 1">
            </div>
          </div>
        </div>
        <div class="pc">
          {{creature.statistics.maturity / maturityDivider - (creature.statistics.maturity / maturityDivider) % 1}}%
        </div>
      </div>
      <div class="stat" *ngIf="creature.statistics.maturity >= maturityMax">
        <div class="icon energy">
          <mat-icon>bolt</mat-icon>
        </div>
        <div class="line">
          <div class="line-wrapper">
            <div class="line-value energy"
                 [style.width.%]="creature.statistics.energy / energyDivider - (creature.statistics.energy / energyDivider) % 1">
            </div>
          </div>
        </div>
        <div class="pc">
          {{creature.statistics.energy / energyDivider - (creature.statistics.energy / energyDivider) % 1}}%
        </div>
      </div>
      <div class="stat" *ngIf="creature.statistics.maturity >= maturityMax">
        <div class="icon thirst">
          <mat-icon>local_drink</mat-icon>
        </div>
        <div class="line">
          <div class="line-wrapper">
            <div class="line-value thirst" [style.width.%]="creature.statistics.thirst"></div>
          </div>
        </div>
        <div class="pc">{{creature.statistics.thirst}}%</div>
      </div>
      <div class="stat" *ngIf="creature.statistics.maturity >= maturityMax">
        <div class="icon hunger">
          <mat-icon>restaurant</mat-icon>
        </div>
        <div class="line">
          <div class="line-wrapper">
            <div class="line-value hunger" [style.width.%]="creature.statistics.hunger"></div>
          </div>
        </div>
        <div class="pc">{{creature.statistics.hunger}}%</div>
      </div>
      <div class="stat" *ngIf="creature.statistics.maturity >= maturityMax"
           [ngClass]="{'disable': creature.statistics.hunger < statsLoveRequirement || creature.statistics.thirst < statsLoveRequirement}">
        <div class="icon love">
          <mat-icon>favorite</mat-icon>
        </div>
        <div class="line">
          <div class="line-wrapper">
            <div class="line-value love" [style.width.%]="creature.statistics.love"></div>
          </div>
        </div>
        <div class="pc">{{creature.statistics.love}}%</div>
      </div>
    </div>

    <div id="help">
      <div *ngIf="creature.statistics.maturity >= maturityMax &&
      (creature.statistics.hunger < statsLoveRequirement || creature.statistics.thirst < statsLoveRequirement)">
        Llama must have at least {{statsLoveRequirement}}% thirst and hunger to increase love
      </div>
      <div *ngIf="creature.statistics.maturity < maturityMax">
        Send to a pen with another fully mature llama to increase maturity
      </div>
    </div>


    <mat-divider class="divider" *ngIf="creature.parents && creature.parents.parent1"></mat-divider>


    <div id="parents" *ngIf="creature.parents && creature.parents.parent1">
      <div class="parent">
        <div class="image-wrapper">
          <div class="image">
            <app-llama [color1]="creature.parents.parent1.colors.color1.code"
                       [color2]="creature.parents.parent1.colors.color2 ?
                    creature.parents.parent1.colors.color2.code : creature.parents.parent1.colors.color1.code">
            </app-llama>
          </div>
        </div>
        <div class="elt sex">
          <mat-icon *ngIf="creature.parents.parent1.sex === 'M'" class="male">male</mat-icon>
          <mat-icon *ngIf="creature.parents.parent1.sex === 'F'" class="female">female</mat-icon>
        </div>
        <div class="elt gene" *ngIf="creature.parents.parent1.genes.gene1">
          <app-creature-gene code="{{creature.parents.parent1.genes.gene1}}"></app-creature-gene>
        </div>
        <div class="elt gene" *ngIf="creature.parents.parent1.genes.gene2">
          <app-creature-gene code="{{creature.parents.parent1.genes.gene2}}"></app-creature-gene>
        </div>
        <div class="elt gene obscure" *ngIf="!creature.parents.parent1.genes.gene1 && !creature.parents.parent1.genes.gene2">
          No gene
        </div>
      </div>
      <div class="parent">
        <div class="image-wrapper">
          <div class="image">
            <app-llama [color1]="creature.parents.parent2.colors.color1.code"
                       [color2]="creature.parents.parent2.colors.color2 ?
                    creature.parents.parent2.colors.color2.code : creature.parents.parent2.colors.color1.code">
            </app-llama>
          </div>
        </div>
        <div class="elt sex">
          <mat-icon *ngIf="creature.parents.parent2.sex === 'M'" class="male">male</mat-icon>
          <mat-icon *ngIf="creature.parents.parent2.sex === 'F'" class="female">female</mat-icon>
        </div>
        <div class="elt gene" *ngIf="creature.parents.parent2.genes.gene1">
          <app-creature-gene code="{{creature.parents.parent2.genes.gene1}}"></app-creature-gene>
        </div>
        <div class="elt gene" *ngIf="creature.parents.parent2.genes.gene2">
          <app-creature-gene code="{{creature.parents.parent2.genes.gene2}}"></app-creature-gene>
        </div>
        <div class="elt gene obscure" *ngIf="!creature.parents.parent2.genes.gene1 && !creature.parents.parent2.genes.gene2">
          No gene
        </div>
      </div>
    </div>
  </div>


  <div mat-dialog-actions>
    <div id="buttons">
      <!--    todo if creature in pen remove first then delete-->
      <button mat-raised-button *ngIf="!creature.wild && creature.colors.color2" class="icon-button"
              [matMenuTriggerFor]="menu_delete">
        <mat-icon>attach_money</mat-icon>
      </button>

      <button mat-raised-button *ngIf="creature.wild" class="icon-button" [matMenuTriggerFor]="menu_delete">
        <mat-icon>delete_sweep</mat-icon>
      </button>

      <button mat-raised-button *ngIf="!creature.wild && !creature.colors.color2" class="icon-button"
              [matMenuTriggerFor]="menu_delete">
        <mat-icon>delete_sweep</mat-icon>
        <!--todo use this when baits available-->
        <!--      <mat-icon>recycle</mat-icon>-->
      </button>


      <button mat-raised-button (click)="onClose()" cdkFocusRegionstart>Back</button>


      <button mat-raised-button [matMenuTriggerFor]="menu_pen_add" class="icon-button"
              *ngIf="creaturesIdInPen.indexOf(creature.id) === -1">
        <mat-icon>fence</mat-icon>
      </button>


      <button mat-raised-button (click)="removeFromPen(creature)" class="in-pen icon-button"
              *ngIf="creaturesIdInPen.indexOf(creature.id) > -1">
        <mat-icon>fence</mat-icon>
      </button>
    </div>

    <mat-menu #menu_pen_add="matMenu">
      <button mat-menu-item (click)="addToPen(creature)" class="creature-details-menu-item"
              [disabled]="pen.creatures.length >= pen.size">
        Add to pen ({{pen.creatures.length}}/{{pen.size}})
      </button>
    </mat-menu>
    <mat-menu #menu_delete="matMenu">
      <button mat-menu-item (click)="onDelete(creature)" *ngIf="creature.colors.color2"
              class="creature-details-menu-item">Sell llama
      </button>
      <!--todo romove !creature.colors.color2 condition when bait available-->
      <button mat-menu-item (click)="onDelete(creature)" *ngIf="creature.wild || !creature.colors.color2"
              class="creature-details-menu-item">Release llama
      </button>
      <!--todo use this when baits available-->
      <!--        <button mat-menu-item (click)="onDelete(creature)" *ngIf="!creature.wild && !creature.colors.color2" class="creature-details-menu-item">-->
      <!--          Collect wool and release-->
      <!--        </button>-->
    </mat-menu>
  </div>
</div>
