.input
  background-color: inherit
  border: none
  outline: none
  color: inherit
  font: inherit
  width: 100%

.title
  display: inline-flex

.image
  width: 40px
  margin-right: 15px

.male
  color: lightblue
.female
  color: pink

.status-icon mat-icon
  font-size: 20px
  height: 20px

::ng-deep .status-icon mat-icon svg
  height: 16px

.buttons
  display: flex
  justify-content: space-between

.button-space
  margin-left: 8px

