#creature-details ::-webkit-scrollbar
  width: 0

#creature-details .obscure
  color: #777

#creature-details .divider
  margin-top: 10px
  margin-bottom: 10px


#creature-details #title #name
  background-color: inherit
  border: none
  outline: none
  color: inherit
  font: inherit
  width: 100%
  font-size: 24px


#creature-details #info
  display: flex

#creature-details #info .image-wrapper
  width: 80px
  vertical-align: middle
#creature-details #info .image
  width: 75px
  height: 75px

#creature-details #info .details-wrapper
  display: flex
  justify-content: center
  text-align: center
  width: 100%
#creature-details #info .details
  font-size: 16px
  text-align: left
#creature-details #info .details .line
  display: flex
  height: 25px
#creature-details #info .details .detail
  line-height: 25px
  vertical-align: center
  margin-left: 10px

#creature-details #info .details .detail.sex
  margin-left: 5px
#creature-details #info .details .detail.sex .male
  color: lightblue
#creature-details #info .details .detail.sex .female
  color: pink

#creature-details .genes-description
  font-size: 16px
  margin-top: 20px
  text-align: center

#creature-details #breeding
  display: flex
  justify-content: space-between
  font-size: 16px
  height: 60px
  line-height: 60px
  vertical-align: center
  margin-bottom: 10px
  width: 100%
#creature-details #breeding .count
  display: flex
#creature-details #breeding .count mat-icon
  margin-top: 18px
  margin-right: 10px
#creature-details #breeding .info
  margin-left: 20px
#creature-details #breeding .info .baby-message
  margin-right: 20px
#creature-details #breeding .info .redeem
  display: flex
#creature-details #breeding .info .redeem button
  background-color: goldenrod
  height: 50px
  width: 50px
  margin-left: 10px
  padding: 0
#creature-details #breeding .info .redeem button mat-icon
  height: 40px
  width: 40px
  font-size: 40px


#creature-details #stats .stat
  display: flex
  justify-content: space-between
  width: 100%
  height: 20px
  margin-bottom: 5px
#creature-details #stats .stat .icon
  height: 20px
  width: 20px
#creature-details #stats .stat .icon mat-icon
  font-size: 20px
#creature-details #stats .stat .line
  padding-left: 10px
  padding-right: 10px
  width: 100%
  padding-top: 5px
#creature-details #stats .stat .line-wrapper
  height: 10px
  border-radius: 5px
  background-color: #5d5d5d
  width: 100%
#creature-details #stats .stat .line-value
  height: 10px
  border-radius: 5px
#creature-details #stats .stat .pc
  font-size: 16px
  width: 50px

#creature-details #stats .stat .line-value.energy
  background-color: lightyellow
#creature-details #stats .stat .icon.energy
  color: lightyellow

#creature-details #stats .stat .line-value.hunger
  background-color: sandybrown
#creature-details #stats .stat .icon.hunger
  color: sandybrown

#creature-details #stats .stat .line-value.thirst
  background-color: cornflowerblue
#creature-details #stats .stat .icon.thirst
  color: cornflowerblue

#creature-details #stats .stat .line-value.love
  background-color: palevioletred
#creature-details #stats .stat .icon.love
  color: palevioletred

#creature-details #stats .stat .line-value.maturity
  background-color: dodgerblue
#creature-details #stats .stat .icon.maturity
  color: dodgerblue

#creature-details #stats .stat.disable .icon, #creature-details #stats .stat.disable .pc
  color: #717171
#creature-details #stats .stat.disable .line-value
  background-color: #717171


#help
  margin-top: 10px
  text-align: center
  font-size: 16px
  color: #c9c9c9
  margin-bottom: 10px


#creature-details #parents .parent
  display: flex
  height: 40px
  margin-bottom: 5px
  line-height: 40px
  vertical-align: middle
  font-size: 16px
#creature-details #parents .parent .elt
  margin-left: 5px

#creature-details #parents .parent .image-wrapper
  height: 40px
  width: 40px

#creature-details #parents .parent .sex
  margin-top: 8px
#creature-details #parents .parent .sex .male
  color: lightblue
#creature-details #parents .parent .sex .female
  color: pink


#creature-details #buttons
  display: flex
  justify-content: space-between
  width: 100%
#creature-details #buttons button
  font-size: 16px
#creature-details #buttons .icon-button
  padding: 0
#creature-details #buttons .icon-button mat-icon
  height: 36px
  width: 40px
  font-size: 32px
  margin-top: 4px

#creature-details #buttons .in-pen
  background-color: brown

#creature-details #buttons .sell
  font-size: 20px

.creature-details-menu-item
  font-size: 16px

