#login-page
  text-align: center
  margin-top: 20px

.title
  font-size: 48px
  margin-bottom: 60px

.sign-in
  margin-top: 50px
  margin-bottom: 30px

.login-button
  width: 80%
  max-width: 500px
  font-size: 20px

.google
  background-color: #ff403e
