<div class="category" [ngClass]="{'first-category': categoryCode.toLowerCase() === 'net'}">
  <div class="category-title">
    {{categoryName}}
  </div>
  <div class="category-comment">
    <span *ngIf="categoryCode.toLowerCase() === 'net'">Increases the chances to capture a llama with a special feature</span>
    <span *ngIf="categoryCode.toLowerCase() === 'thirst'">Used in a pen to increase thirst level</span>
    <span *ngIf="categoryCode.toLowerCase() === 'hunger'">Used in a pen to increase hunger level</span>
    <span *ngIf="categoryCode.toLowerCase() === 'love'">Used in a pen to increase love level</span>
  </div>
</div>


<div class="no-items-message" *ngIf="user.level === 0">No items available</div>
<div *ngFor="let shopItem of shopItems | shop_category:categoryCode">
  <div class="item mat-elevation-z1"
       *ngIf="(!bestOnly && shopItem.quality <= user.level) || (bestOnly && shopItem.quality == user.level)">
    <div class="details">
      <app-item-icon [code]="categoryCode"></app-item-icon>
      <div class="info">
        <div>
          <app-item-name [code]="categoryCode" [quality]="shopItem.quality"></app-item-name>
          - lvl.{{shopItem.quality}}
        </div>

        <div>{{shopItem.coins}}$</div>
      </div>
    </div>
    <button mat-stroked-button [disabled]="shopItem.coins > user.coins || itemCount === undefined || itemCount >= 100"
            (click)="purchase(shopItem)">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</div>





