<div class="category">
  <div class="title">
    <div class="logo">
      <app-item-icon [code]="categoryCode"></app-item-icon>
    </div>
    <div class="name">
      <app-item-category-name [code]="categoryCode"></app-item-category-name>
    </div>
  </div>

  <div class="description">
    <span *ngIf="categoryCode.toLowerCase() === 'net'">
      Use with in the wild lands to get a chance to capture a llama with a gene
    </span>
    <span *ngIf="categoryCode.toLowerCase() === 'thirst'">
      Add to a pen to increase thirst
    </span>
    <span *ngIf="categoryCode.toLowerCase() === 'hunger'">
      Add to a pen to increase hunger
    </span>
    <span *ngIf="categoryCode.toLowerCase() === 'love'">
      Add to a pen to increase love
    </span>
  </div>
  <div class="items">
    <div class="empty" *ngIf="user.level === 0">No items available</div>
    <div *ngFor="let shopItem of shopItems | shop_category:categoryCode">
      <div class="item" *ngIf="shopItem.availability <= user.level"
           matRipple [matRippleDisabled]="shopItem.coins > user.coins"
           [ngClass]="{'obscure': shopItem.coins > user.coins, 'mat-elevation-z1': shopItem.coins <= user.coins}"
           (click)="openValidation(shopItem)">
        <div class="name">
          <app-item-name [code]="categoryCode" [quality]="shopItem.quality"></app-item-name>
          <span *ngIf="categoryCode.toLowerCase() !== 'net'"> - lvl.{{shopItem.quality}}</span>
        </div>
        <div class="price">{{shopItem.coins}} ¤</div>
      </div>
    </div>
  </div>
</div>

