.category
  border-bottom: 1px lightgray solid
  margin: 20px 10px 10px
  padding-left: 20px
  font-size: 18px

.no-items-message
  width: 100%
  text-align: center

.shop-item
  display: flex
  justify-content: space-between
  border-radius: 4px
  background-color: #3b3b3b
  padding: 5px
  margin-bottom: 10px

.shop-item .details
  display: flex
  justify-content: flex-start

.shop-item .details .image
  margin-top: auto
  margin-bottom: auto
  margin-right: 10px
  font-size: 28px

.shop-item .details .image-nest
  color: seagreen

.shop-item .details .image-drink
  color: cornflowerblue

.shop-item .details .image-eat
  color: sandybrown

.shop-item .details .image-love
  color: palevioletred

.shop-item .details .info
  margin-right: 10px
  margin-left: 10px

