<div id="page" class="home">

  <div id="space-top"></div>

  <div id="menu">
    <mat-grid-list cols="2" rowHeight="3:2" gutterSize="10px">

      <mat-grid-tile>
        <button mat-button class="menu-item capture" routerLink="capture">
          <mat-icon>grass</mat-icon><br/>Wild Lands
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button class="menu-item pen" routerLink="pen">
          <mat-icon>fence</mat-icon><br/>Pen
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button class="menu-item barn" routerLink="barn">
          <mat-icon>gite</mat-icon><br/>Barn
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button class="menu-item inventory" routerLink="inventory">
          <mat-icon>backpack</mat-icon><br/>Inventory
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button class="menu-item shop" routerLink="shop">
          <mat-icon>storefront</mat-icon><br/>Shop
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button class="menu-item fair" disabled>
          <mat-icon>festival</mat-icon><br/>Fair
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button class="menu-item llamadex" disabled>
          <mat-icon>catching_pokemon</mat-icon><br/>Llamadex
        </button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button class="menu-item account" routerLink="account">
          <mat-icon>person</mat-icon><br/>Account
        </button>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>


