.home .menu-item
  width: 100%
  height: 100%
  font-size: 24px
.home .menu-item .mat-icon
  font-size: 36px
  width: 36px
  height: 36px

.home  .menu-item.shop
  background-color: orange
.home .menu-item.inventory
  background-color: cornflowerblue
.home .menu-item.capture
  background-color: seagreen
.home .menu-item.barn
  background-color: indianred
.home .menu-item.pen
  background-color: brown
.home .menu-item.llamadex
  background-color: blueviolet
.home .menu-item.fair
  background-color: darkolivegreen
.home .menu-item.account
  background-color: darkslategrey
